<body>
<app-header></app-header>
<div class="wrapper">
  <div class="content">
    <div class="banner">
      <h2 *ngIf="service.serviceName != null">{{service.serviceName}}</h2>
      <p class="date">{{date|date}}</p>
    </div>
    <div class="service-wrap">
      <div class="description">
        <h2>Service description</h2>
        <p>{{service.description}}</p>
      </div>
      <div class="details">
        <ul>
          <li>Price: {{service.price}}</li>
          <li>Name: {{service.subName}}</li>
          <li class="subscribe" (click)="subscribeToService()"><a>Subscribe</a></li>
        </ul>
      </div>
    </div>
    <div class="reviews">
      <h3>Reviews</h3>
      <h3><a class="add-review" (click)="addReviewShow()">Add review</a></h3>
      <div class="add-review" *ngIf="addReviewPopup">
        <form method="post" [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
          <div>
            <label for="review">Review
              <input id="review" type="text" formControlName="review"/>
            </label>
            <button class="button" type="submit">Add</button>
          </div>
        </form>
      </div>
      <ul *ngFor="let review of reviews">
        <li> {{review.customer.name}} |
          <ul>
            <li>
              {{review.review}}
            </li>
            <li>| {{review.reviewDate}}</li>
          </ul>
        </li>
     </ul>
    </div>
  </div>
  <app-footer></app-footer>
</div>
</body>

