<body>
<app-header></app-header>
<div class="wrapper">
  <div class="content">
    <div class="banner">
      <h2 *ngIf="service.serviceName != null">{{service.serviceName}}</h2>
      <p class="date">{{date|date}}</p>
    </div>
    <div class="service-wrap">
      <div class="description">
        <h2>Service description</h2>
        <p>{{service.description}}</p>
      </div>
      <div class="details">
        <ul>
          <li>Price: {{service.price}} $day</li>
          <li>Name: {{service.subName}}</li>
          <li class="subscribe" *ngIf="!subscribed && user!=null"><a (click)="subscribeToService()">Subscribe</a></li>
          <li class="subscribe" *ngIf="subscribed && user!=null"><a (click)="unsubscribeFromService()">Unsubscribe</a></li>
        </ul>
      </div>
    </div>
    <div class="reviews">
      <h3>Reviews</h3>
      <h3 *ngIf="user!=null"><a class="add-review" (click)="addReviewShow()">Add review</a></h3>
      <div class="add-review-wrap" *ngIf="addReviewPopup">
        <form method="post" [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
          <div>
            <label for="review">
              <textarea id="review" type="text" formControlName="review"></textarea>
            </label>
            <button class="button" type="submit" [disabled]="!checkoutForm.valid">Add</button>
            <button class="button" (click)="addReviewShow()"><img src="https://icon-library.net/images/close-icon-png/close-icon-png-22.jpg" class="close" alt="close-img"/></button>
            <div class="invalid" *ngIf="checkoutForm.get('review').invalid && checkoutForm.get('review').touched">Review can't be empty and max number of symbols is 255.
            </div>
          </div>
        </form>
      </div>
      <ul *ngFor="let review of reviews">
        <li> {{review.customer.name}} |
          <ul>
            <li>
              <div class="review">{{review.review}}</div>
            </li>
            <li>| {{review.reviewDate}}</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <app-footer></app-footer>
</div>
</body>

