body {
  width: 100%;
  height: auto;
  background-image: url("../../../../assets/images/my-services-bg.jpg");
  background-size: 100%, auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding-top: 5.5em;
}

.content{
  width:100%;
  height: auto;
  margin:1vw auto;
  padding: 0;
}
.service-wrap {
  background-color: rgba(0,0,0,0.3);
  padding: 0.5%;
  margin-top: 1%;
}

.service-wrap:hover{
  cursor: pointer;
  background-color: rgba(255,255,255, 0.5);
}

.service-wrap a{
  text-decoration: none;
}

.service-wrap ul{
  width: 80%;
  margin-left: 10%;
}
.service-wrap ul li{
  color: #ffffff;
  font-weight: 500;
  font-size: 1.5vw;
  display: flex;
  flex-direction: row;
}

.service-wrap ul li h3{
  width: 20%;
}

.service-wrap ul li ul {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.service-wrap ul li ul li{
  margin-left: 4vw;
}
