<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
<body>
<div class="wrapper">
  <div class="content">
    <div class="start-block">
      <div class="most-popular-service">
        <h1>Yandex Music</h1>
        <p>
          Most popular service.
        </p>
      </div>
      <div class="first-block-logo">
      </div>
    </div>
    <div class="middle-block">
      <div class="second-block-logo">
      </div>
      <div class="latest-service">
        <h1>Yandex Music</h1>
        <p>
          Latest added service.
        </p>
      </div>
    </div>
    <div class="end-block">
      <div class="last-update">
        <h1>Yandex Music</h1>
        <p>
          Last update description.
        </p>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
</body>
<!--<script src="assets/js/login.js"></script>-->

