<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
<body>
<div class="wrapper">
  <div class="content">
    <div class="start-block">
      <div class="most-popular-service">
        <h1>{{mostPopularService.serviceName}}</h1>
        <p>
          Most popular service.
        </p>
      </div>
      <div class="first-block-logo" [ngStyle]="{'background-image': 'url(data:image/png;base64,' + mostPopularService.image + ')'}">
      </div>
    </div>
    <div class="middle-block">
      <div class="second-block-logo" [ngStyle]="{'background-image': 'url(data:image/png;base64,' + lastAddedService.image + ')'}" >
      </div>
      <div class="latest-service">
        <h1>{{lastAddedService.serviceName}}</h1>
        <p>
          Latest added service.
        </p>
      </div>
    </div>
    <div class="end-block">
      <div class="last-update">
        <h1>{{lastAddedService.serviceName}}</h1>
        <p>
          {{lastAddedService.description}}
        </p>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
</body>

