<div class="head-wrap">
  <header id="header" class="alt">
    <h1 id="logo"><a href="index.html">Charging System</a></h1>
    <nav id="nav">
      <ul>
        <li><a href="#">Welcome</a></li>
        <li><a [routerLink]="['/all-services']">Services</a></li>
        <li><a [routerLink]="['/my-services']">My services</a></li>
        <li class="sign-up" (click)="showLogin()"><a>Log in</a></li>
        <div class="overlay" *ngIf="isPopup">
          <div class="login-wrapper">
            <div class="login-content">
              <a class="close" (click)="showLogin()">x</a>
              <form method="post" [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
                <label for="username">
                  Login:
                  <input type="text" name="username" id="username" formControlName="login"/>
                </label>
                <div class="invalid" *ngIf="checkoutForm.get('login').invalid && checkoutForm.get('login').touched">Invalid login.
                  Login must have 4-16 symbols.
                </div>
                <label for="password">
                  Password:
                  <input type="password" name="password" id="password" formControlName="password"/>
                </label>
                <div class="invalid" *ngIf="checkoutForm.get('password').invalid && checkoutForm.get('password').touched">Invalid password.
                </div>
                <button type="submit">Sign in</button>
                <button><a [routerLink]="['/registration']">Registration</a></button>
              </form>
            </div>
          </div>
        </div>
      </ul>
    </nav>
  </header>
</div>
