<body>
<div class="wrapper">
  <div class="add_service_form" *ngIf="isPopup==true">
    <div class="form_wrap">
      <div (click)="formAction()" class="close_wrap">
        <svg class="bi bi-x" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor"
             xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
                d="M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z"
                clip-rule="evenodd"/>
          <path fill-rule="evenodd"
                d="M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z"
                clip-rule="evenodd"/>
        </svg>
      </div>
      <form method="post" [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
        <div>
          <label for="serviceName">Service Name
            <input id="serviceName" type="text" formControlName="serviceName"/>
          </label>
        </div>
        <div class="invalid" *ngIf="checkoutForm.get('serviceName').invalid && checkoutForm.get('serviceName').touched">
          Service Name is required.
        </div>
        <div>
          <label for="price">Price
            <input id="price" type="number" formControlName="price"/>
          </label>
        </div>
        <div class="invalid" *ngIf="checkoutForm.get('price').invalid && checkoutForm.get('price').touched">Min price -
          4.
        </div>
        <div>
          <label for="subName">sub name
            <input id="subName" type="text" formControlName="subName"/>
          </label>
        </div>
        <div class="invalid" *ngIf="checkoutForm.get('subName').invalid && checkoutForm.get('subName').touched">Sub Name
          is required.
        </div>
        <div>
          <label for="description">Description
            <input id="description" type="text" formControlName="description"/>
          </label>
        </div>
        <div class="invalid" *ngIf="checkoutForm.get('description').invalid && checkoutForm.get('description').touched">
          Description is required.
        </div>
        <div>
          <label for="tags">Tags
            <input id="tags" type="text" formControlName="tags"/>
          </label>
        </div>
        <div class="invalid"
             *ngIf="checkoutForm.get('tags').invalid && checkoutForm.get('tags').touched">
          Tags are required. #Example#Of#Tags
        </div>
        <div>
          <label for="image">Image
            <input type="file" accept="image/*" formControlName="image" id="image"
                   (change)="handleFileSelect($event)"/>
          </label>
        </div>
        <div class="postImage">
          <img src="data:image/png;base64,{{base64Image}}" alt="img"/>
        </div>
        <div class="invalid" *ngIf="checkoutForm.get('image').invalid && checkoutForm.get('image').touched">Image is
          required.
        </div>
        <div class="send_service">
          <button class="button" type="submit" [disabled]="!checkoutForm.valid">Add</button>
        </div>
      </form>
    </div>
  </div>
  <div class="content">
    <div class="top-selection">
      <div class="items-per-page" (click)="isItemsPerPageShow()"> Items per page</div>
      <ul *ngIf="isItemsPerPage">
        <li (click)="changeConfig(2)">2</li>
        <li (click)="changeConfig(4)">4</li>
        <li (click)="changeConfig(6)">6</li>
      </ul>
      <div class="add-service" (click)="formAction()" *ngIf="user!=null && user.role==true">
        <a>Add service</a>
      </div>
    </div>
    <div class="clear-top"></div>
    <div class="not-found" *ngIf="notFound">Not Found {{search}}</div>
    <div class="articles" *ngFor="let item of services | paginate: config; let i=index">
      <div class="container" [ngStyle]="{'background-image': 'url(data:image/png;base64,' + item.image + ')'}">
        <div class="delete_wrap" *ngIf="user!=null && user.role==true">
          <button type="submit" (click)="deleteService(item)">
            <svg class="bi bi-x-circle" width="4em" height="4em" viewBox="0 0 16 16" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z"
                    clip-rule="evenodd"/>
              <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z"
                    clip-rule="evenodd"/>
              <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z"
                    clip-rule="evenodd"/>
            </svg>
          </button>
        </div>
        <a [routerLink]="['/service-details/' + item.id]">
          <div class="anons">
            <h3>{{item.serviceName}}</h3>
            <p>{{item.description}}</p>
            <div *ngIf="numberOfServiceSubscriptions[i+itemsPP*(pageNum-1)] && search==null">Number of
              subscribers: {{numberOfServiceSubscriptions[i + itemsPP * (pageNum - 1)] - 1}}</div>
          </div>
        </a>
      </div>
    </div>
    <div class="clear"></div>
    <div class="pagination_wrap" *ngIf="search==null">
      <pagination-controls (pageChange)="pageChanged($event)" class="pagination-control"></pagination-controls>
    </div>
  </div>
  <app-footer></app-footer>
</div>

</body>
