/*Footer*/

#footer {
  margin-top: 3%;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.75);
  background-attachment: fixed, fixed, fixed;
  background-position: top left, center center, center center;
  background-size: auto, cover, cover;
  text-align: center;
}

#footer ul li {
  font-size: 2em;
}

#footer a {
  border-bottom-color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

#footer a:hover {
  color: #ffffff;
}


ul.icons li {
  display: inline-block;
  padding: 0 1.25em 0 0
}

#footer .icons {
  margin: 0;
}

#footer .copyright {
  font-size: 0.8em;
  list-style: none;
  margin: 2em 0 0 0;
  padding: 0;
}

#footer .copyright li {
  border-left: solid 1px;
  display: inline-block;
  line-height: 1em;
  margin-left: 1em;
  padding: 0 0 0 1em;
}

#footer .copyright li:first-child {
  border-left: 0;
  margin-left: 0;
  padding: 0;
}


.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-transform: none !important;
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

.icon > .label {
  display: none;
}

.icon:before {
  line-height: inherit;
}

.icon.solid:before {
  font-weight: 900 !important;
}

.icon.brands:before {
  font-family: 'Font Awesome 5 Brands';
}

