/*Footer*/

#footer {
  margin-top: 3%;
  color: rgba(255, 255, 255, 0.75);
  background-attachment: fixed, fixed, fixed;
  background-position: top left, center center, center center;
  background-size: auto, cover, cover;
  text-align: center;
}

#footer ul li {
  font-weight: 400;
  font-size: 2em;
}

#footer a {
  border-bottom-color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

#footer a:hover {
  color: #ffffff;
}


ul.icons li {
  display: inline-block;
  padding: 0 1.25em 0 0
}

#footer .icons {
  margin: 0;
}

div.copyright_wrap{
  height: 6vw;
}

#footer .copyright {
  font-size: 0.8em;
  list-style: none;
  margin: 2em 0 0 0;
  padding: 0;
}

.copyright a{
  color: #c51900;
}

ul.copyright{
  position: absolute;
  left: 30%;
}

#footer .copyright li {
  border-left: solid 1px;
  display: inline-block;
  line-height: 1em;
  margin-left: 1em;
  padding: 0 0 0 1em;
}

#footer .copyright li:first-child {
  border-left: 0;
  margin-left: 0;
  padding: 0;
}



