<body>
<div class="wrapper">
  <div class="content">
    <div class="add-service">
      <a href="#">Add service
      </a></div>
    <div class="articles">
      <div class="container">
        <a href="service-details.html">
          <div class="anons">
            <h3>Yandex Music</h3>
            <p>Yandex music description.</p>
          </div>
        </a>
      </div>
      <div class="container">
        <a href="service-details.html">
          <div class="anons">
            <h3>Yandex Music</h3>
            <p>Yandex music description.</p>
          </div>
        </a>
      </div>
      <div class="clear"></div>
      <div class="container">
        <a href="service-details.html">
          <div class="anons">
            <h3>Yandex Music</h3>
            <p>Yandex music description.</p>
          </div>
        </a>
      </div>
      <div class="container">
        <a href="service-details.html">
          <div class="anons">
            <h3>Yandex Music</h3>
            <p>Yandex music description.</p>
          </div>
        </a>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <app-footer></app-footer>
</div>

</body>
